@model IEnumerable<agricultural_guide.Models.Location>
 <main>
      <div class="pestpage">
                <h2>إدارة <b>مناطق البيع</b> </h2>
                <button><a asp-action="add_Location" asp-controller="SalesLocation">إضافة</a></button>
              </div>
            <div class="devicer_manage">
                <table>
                    <thead>
                        <tr>
                            <th>أسم المنطقه </th>
                            <th> المديرة</th>
                            <th> المحافظة</th>
                            <th>إدارة</th>
                        </tr>
                    </thead>
                    <tbody> 

                            @foreach (var item in Model)
                            {
                     
                            URI url = new URI();
                            var path = url.url + item.image_path;
                      

                        <tr onclick="showDetiels('@item.name','@item.location','@item.locationX','@item.locationY','@path')">
                           
                            <td>@item.name</td>
                            <td>@item.location</td>
                            <td></td>
                            <td class="management">
                             <span class="edit"><a href="@Url.Action("Editlocation", "SalesLocation",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/draw.png"> </a></span>
                             <span class="delet"><a href="@Url.Action("Deletelocation", "SalesLocation",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/trash.png"> </a></span>

                            </td>
                        </tr>
                        }
                            
                            
                        
                      
                    </tbody>
                </table>
             <!--

                 <a href="#"> رؤية المزيد</a>
                -->
            </div>
            </main>
        <!--main end-->
        <!--right side strart-->
        <div class="right">
            <!--top start-->
           
            <!--top end-->
         
            <!--chat start-->

              <div class="recent-advicer">
                <div class="h2count">   
                    <h2 >مواصفات المحصول
                    </h2>
                </div>
                <div class="deties_container">
                <div class="contain">
                    <div class="request_crop">
                        <div>

                            <img id="detiels_image" src="../images/farm.jfif" alt="">
                            
                          
                                <div class="crop-info">
                                    <h3>أسم السوق :</h3>
                                    <h3 id="name_crop"></h3>
                                    <h3> المديرية :</h3>
                                    <h3 id="type"> </h3>
                                    <h3>المحافظة  :</h3>
                                    <h3 id="type_crop"></h3>
                                    
                                </div>
                                <div class="desc">
                                    <h3 > الوصف :</h3>
                                    <p id="description"> </p   >
                                </div>
                            
                      
                     
                    </div>
                        
                        
                    </div>
                    <div class="bottombtn">    
                        <button><span class="see_crop" > تعديل</span></button>
                    </div>
                    </div>
                    
                </div> 
                </div>
            </div>