
      
 <main>
      <div class="pestpage">
                <h2>إدارة <b>الأسمدة</b> </h2>
                <button><a asp-action="addfertilizer" asp-controller="Fertilizer">إضافة</a></button>
              </div>
            <div class="devicer_manage">
                <table>
                    <thead>
                        <tr>
                            <th>رقم السماد </th>
                            <th>أسم السماد</th>
                            <th>الوصف</th>
                            <th>إدارة</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> 

                            @foreach (var item in Model)
                            {
                    
                        <tr>
                            <td>@item._id</td>
                            <td>@item.name</td>
                            <td>@item.description</td>


                            
                              <td class="management">
                             <span class="edit"><a href="@Url.Action("Edit_fertilizer", "Fertilizer",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/draw.png"> </a></span>
                             <span class="delet"><a href="@Url.Action("Delete_fertilizer", "Fertilizer",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/trash.png"> </a></span>

                            </td>
                        </tr>
                        
                            }
                            
                        
                      
                    </tbody>
                </table>
             <!--

                 <a href="#"> رؤية المزيد</a>
                -->
            </div>
            </main>
        <!--main end-->
        <!--right side strart-->
      